.offer__title{
    font-weight: 700;
    font-size: 40px;
    color: #3d3d3f;
    text-align: center;
    margin-bottom: 10px;
    margin-top: 27px;

}

.offer__item{
    
    padding: 75px 40px 40px 40px;
  
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border-radius: 23px;
    box-shadow: 0 4px 22px 0 rgba(95, 95, 95, 0.05);
    background-color: #fff;
    position: relative;
}

.offer__img{
    background-color: #fff;
    border-radius: 555px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 47px;
    max-width: max-content;
    position: absolute;
    margin-bottom: 30px;
    transform: translate(-50%, -50%);
    left: 50%;
    top: -7%;
    transition: all 0.3s ease;
}


.offer__img:hover{
    background: rgba(255, 122, 80, 0.83);

}


.offer__img:hover .offer__image{
    filter: invert(1) brightness(1.5);
    
    
}
.offter__image{
    transition: all 0.3s ease;
}

.offer__subtitle{
    font-weight: 700;
    font-size: 24px;
    color: #3d3d3f;
}

.offer__des{
    font-weight: 400;
font-size: 16px;
line-height: 162%;
text-align: center;
color: #595959;
margin-bottom: 27px;
}

.offer__btn{
    background-color: #fff;
    border-radius: 42px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 9px;
    max-width: max-content;
    border:none;
    transition: all 0.3s ease;


    

}


.offer__btn:hover{
    background: rgba(255, 122, 80, 0.83);

}


.offer__btn:hover .offer__icons{
    filter: invert(1) brightness(1.5);
    
    
}

.offer__icons{
    transition: all 0.3s ease;
}


.offer__list{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(356px, 1fr));
    column-gap: 56px;
    margin-top: 118px;
}
