.testimi{
    padding-top: 120px;
}


.testimi__title{
    font-weight: 700;
font-size: 40px;
color: #3d3d3f;
text-align: center;
margin-bottom: 70px;
}

.testimi__img{
    max-width: 743px;
    margin: 0 auto;
}